@model Lab3_Group1V2.Models.User

@{
    ViewData["Title"] = "Index";
}

<h1>Login In</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form class="form-horizonal" asp-action="Index">
                <div class="form-group">
                    <label class="control-label">User ID</label>
                    <input data-val="true" asp-for="UserId" class="form-control" type="text" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input data-val="true" asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>